---
# Configure clang-tidy for this project.

# Here is an explanation for why some of the checks are disabled:
#
#  -misc-const-correctness: I think immutable variables by default is a good
#    thing, but it's simply not usable if the language itself does not do it.
#
#  -modernize-use-trailing-return-type: clang-tidy recommends using
#    `auto Foo() -> std::string { return ...; }`, i think the code is less
#    readable in this form.
#
#  -modernize-use-nodiscard: clang-tidy recommends adding a nodiscard annotation
#    to functions where the return value should not be ignored.
#    I think this is not woth it, this makes code less readable.
#
#  -performance-move-const-arg: This warning requires the developer to
#    know/care more about the implementation details of types/functions than
#    should be necessary. For example, `A a; F(std::move(a));` will trigger a
#    warning IFF `A` is a trivial type (and therefore the move is
#    meaningless). It would also warn if `F` accepts by `const&`, which is
#    another detail that the caller need not care about.
#
#  -readability-identifier-length: I want full control over naming in my code.
#
#  -readability-redundant-access-specifiers: Sometimes it may be usefull to
#    explicitly place access specifier.
#
#  -performance-enum-size: Only worth it in large projects where performace
#    matters. In small projects it just saves a couple of bytes and reduces
#    code readability.
#

Checks: >
  -*,
  abseil-*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -misc-const-correctness,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -performance-move-const-arg,
  -readability-identifier-length,
  -readability-redundant-access-specifiers,
  -performance-enum-size,

# Turn all the warnings from the checks above into errors.
# WarningsAsErrors: "*"

HeaderFilterRegex: "(google/cloud/|generator/).*\\.h$"

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,                 value: CamelCase  }
  - { key: readability-identifier-naming.ClassCase,                     value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,                    value: CamelCase  }
  - { key: readability-identifier-naming.TemplateParameterCase,         value: CamelCase  }
  - { key: readability-identifier-naming.FunctionCase,                  value: aNy_CasE   }
  - { key: readability-identifier-naming.VariableCase,                  value: lower_case }
  - { key: readability-identifier-naming.ClassMemberCase,               value: lower_case }
  - { key: readability-identifier-naming.ClassMemberSuffix,             value: _          }
  - { key: readability-identifier-naming.PrivateMemberSuffix,           value: _          }
  - { key: readability-identifier-naming.ProtectedMemberSuffix,         value: _          }
  - { key: readability-identifier-naming.EnumConstantCase,              value: CamelCase  }
  - { key: readability-identifier-naming.ConstexprVariableCase,         value: CamelCase  }
  - { key: readability-identifier-naming.ConstexprVariablePrefix,       value: k          }
  - { key: readability-identifier-naming.GlobalConstantCase,            value: CamelCase  }
  - { key: readability-identifier-naming.GlobalConstantPrefix,          value: k          }
  - { key: readability-identifier-naming.MemberConstantCase,            value: CamelCase  }
  - { key: readability-identifier-naming.MemberConstantPrefix,          value: k          }
  - { key: readability-identifier-naming.StaticConstantCase,            value: CamelCase  }
  - { key: readability-identifier-naming.StaticConstantPrefix,          value: k          }
  - { key: readability-implicit-bool-conversion.AllowIntegerConditions, value: 1          }
  - { key: readability-implicit-bool-conversion.AllowPointerConditions, value: 1          }
  - { key: readability-function-cognitive-complexity.IgnoreMacros,      value: 1          }
